.blogs-layout {
  display: flex;

}


.blogs {
  width: 100%;
  padding: 2rem;
  margin: 2rem auto 0;
  display: grid;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
}

@media screen and (min-width: 932px) {
  .blogs {
    grid-template-columns: repeat(2, 1fr) ;

  }

}


@media screen and (min-width: 1280px) {
  .blogs {
    grid-template-columns: repeat(3, 1fr) ;

  }

}


@media screen and (min-width: 1660px) {
  .blogs {
    grid-template-columns: repeat(4, 1fr) ;

  }

}
