.blogs-layout {
  display: flex;

}


.blogs {
  padding: 2rem;
  margin-top: 2rem;
    display: grid;
  justify-content: center;
  row-gap: 3rem;
  width: 63%;
}

.blogs-related {
  width: 25rem;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  
}

.blogs-related-content {
  margin-left: 2rem;
}


@media screen and (min-width: 1440px) {
  .blogs {
    grid-template-columns: repeat(2, 1fr) ;
    width: 65%;

  }

}


@media screen and (min-width: 1660px) {
  .blogs {
    grid-template-columns: repeat(3, 1fr) ;
  width: 70%;

  }

}
