@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
.login{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 40%;
    margin-top: 10%;
    align-items: left;
    font-size: 1.2rem;
    font-family: Lato;
}

.login input {
    margin-left: 10px;
    margin-top: 15px;
    border: 1px solid black;
}

.login #submit-btn{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    font-family: Lato;
    background-color: greenyellow;
}

.login a {
    margin-top: 20px;
    display:block;
    text-align: center;
    width: 200px;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.login a:hover {
    background-color: lightcoral;
}