/* createBlog.css */

/* .navbar-container {
    background-color: #14C38E;
} */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px #33be3a;
}

.parent-container {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkc-vbzmyDU32ox_yR7TgN8h18AabCabxwjht3b5itfFWpIZWZikY0oNDWRHFRRcK1e1I&usqp=CAU");  
    background-size: contain;
}
  
  h2 {
    color: #33be3a; /* Reddish tone */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d7f0d8;
    border-radius: 4px;
  }

  input:focus,
textarea:focus {
  outline: none;
  border-color: #33be3a;
}
  
  button {
    background-color: #33be3a;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #d0451b; /* Slightly darker shade on hover */
  }
  
  /* Image preview styling */
  .image-preview {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px #33be3a;
  }
  